{% extends "animals/base.html" %}
{% load bootstrap3 %}

{% block content %}
<p>API базы данных для приютов</p>


<div class="jumbotron">
<p>GET /api/animal/
    </br>
    Просмотр всех животных, вернет json список словарей
    </br>
    Пример:
    </br>
    <label class="control-label" for="get_all_animals">Response</label>
    <textarea id="get_all_animals" cols="40" rows="10" class="form-control" title="" required=""></textarea>
    <button type="submit" class="save btn btn-primary" onclick="CallWebAPI('getAllAnimals')">Отправить</button>

</p>
</div>
</br>
<div class="jumbotron">
<p>GET /api/animal/{animal_id}
    </br>
Поиск животного по ID, вернет json словарь и код 200
     </br>
Вернет код 404 если объект отсутвует в БД
    </br>
    Пример:
    <input type="number" id="id_animalid" min="1" class="form-control" title="" required="">
    </br>
    <label class="control-label" for="get_animal">Response</label>
    <textarea id="get_animal" cols="40" rows="5" class="form-control" title="" required=""></textarea>
    <button type="submit" class="save btn btn-primary" onclick="CallWebAPI('getAnimal')">Отправить</button>

</p>
</div>
</br>
<div class="jumbotron">
<p>POST /api/animal/add/
        </br>
    Для запроса требуется авторизация basic-auth
    </br>
    Request header: "Authorization: Basic c3RhZmYxOnN0YWZmMXN0YWZmMQ=="
     </br>
    </br>
    Данные передаются в виде application/x-www-form-urlencoded
    </br>
    Добавление нового животного, вернет json словарь {"id": id} и код 201
     </br>
Вернет код 400, если запрос не пройдет валидацию
    </br>
<form method="POST" action="" name="testadd">
    <div class="form-group"><label class="control-label" for="id_name_add">Name</label><input type="text" name="name" maxlength="64" class="form-control" placeholder="Name" title="" required="" id="id_name_add"></div>
    <div class="form-group"><label class="control-label" for="id_age_add">Age</label><input type="number" name="age" min="1" max="150" class="form-control" placeholder="Age" title="" required="" id="id_age_add"></div>
    <div class="form-group"><label class="control-label" for="id_arrival_date_add">Arrival date</label><input type="text" name="arrival_date" class="form-control" placeholder="Arrival date" title="" id="id_arrival_date_add"></div>
    <div class="form-group"><label class="control-label" for="id_weight_add">Weight</label><input type="number" name="weight" min="1" max="9999" step="any" class="form-control" placeholder="Weight" title="" required="" id="id_weight_add"></div>
    <div class="form-group"><label class="control-label" for="id_height_add">Height</label><input type="number" name="height" min="1" max="99" step="any" class="form-control" placeholder="Height" title="" required="" id="id_height_add"></div>
    <div class="form-group"><label class="control-label" for="id_spec_features_add">Spec features</label><textarea name="spec_features" cols="40" rows="10" class="form-control" placeholder="Spec features" title="" required="" id="id_spec_features_add"></textarea></div>
</form>
    <label class="control-label" for="username_add">Username</label>
    <input type="text"  maxlength="64" class="form-control" title="" required="" id="username_add">
    <label class="control-label" for="password_add">Password</label>
    <input type="text" maxlength="64" class="form-control" title="" required="" id="password_add">
    {% buttons %}
        <button type="submit" class="save btn btn-primary" onclick="CallWebAPI('postAnimalAdd')">Отправить</button>
    {% endbuttons %}

 </br>
    <label class="control-label" for="add_animal">Response</label>
    <textarea id="add_animal" cols="40" rows="3" class="form-control" title="" required=""></textarea>

</p>
</div>
</br></br>
<div class="jumbotron">
<p>POST /api/animal/{animal_id}/edit/
        </br>
    Для запроса требуется авторизация basic-auth
    </br>
    Request header: "Authorization: Basic c3RhZmYxOnN0YWZmMXN0YWZmMQ=="
     </br>
    </br>
    Данные передаются в виде application/x-www-form-urlencoded
    </br>
    Изменение информации о животном, вернет код 200
     </br>
Вернет код 400, если запрос не пройдет валидацию
    </br>
Вернет код 404, если {animal_id} отсутвует в базе
    </br>
<form method="POST" action="" name="testedit">
    <div class="form-group"><label class="control-label" for="id_animalid_edit">ID</label><input type="number" min="1" class="form-control" title="" required="" id="id_animalid_edit"></div>
        <div class="form-group"><label class="control-label" for="id_name_edit">Name</label><input type="text" name="name" maxlength="64" class="form-control" placeholder="Name" title="" required="" id="id_name_edit"></div>
<div class="form-group"><label class="control-label" for="id_age_edit">Age</label><input type="number" name="age" min="1" max="150" class="form-control" placeholder="Age" title="" required="" id="id_age_edit"></div>
<div class="form-group"><label class="control-label" for="id_arrival_date_edit">Arrival date</label><input type="text" name="arrival_date" class="form-control" placeholder="Arrival date" title="" id="id_arrival_date_edit"></div>
<div class="form-group"><label class="control-label" for="id_weight_edit">Weight</label><input type="number" name="weight" min="1" max="9999" step="any" class="form-control" placeholder="Weight" title="" required="" id="id_weight_edit"></div>
<div class="form-group"><label class="control-label" for="id_height_edit">Height</label><input type="number" name="height" min="1" max="99" step="any" class="form-control" placeholder="Height" title="" required="" id="id_height_edit"></div>
<div class="form-group"><label class="control-label" for="id_spec_features_edit">Spec features</label><textarea name="spec_features" cols="40" rows="10" class="form-control" placeholder="Spec features" title="" required="" id="id_spec_features_edit"></textarea></div>
</form>
    <label class="control-label" for="username_edit">Username</label>
    <input type="text"  maxlength="64" class="form-control" title="" required="" id="username_edit">
    <label class="control-label" for="password_edit">Password</label>
    <input type="text" maxlength="64" class="form-control" title="" required="" id="password_edit">
    {% buttons %}
        <button type="submit" class="save btn btn-primary" onclick="CallWebAPI('postAnimalEdit')">Отправить</button>
    {% endbuttons %}

 </br>
    <label class="control-label" for="edit_animal">Response</label>
    <textarea id="edit_animal" cols="40" rows="3" class="form-control" title="" required=""></textarea>

</p>
</div>
<div class="jumbotron">
<p>DELETE /api/animal/{animal_id}/delete/
    </br>
    Для запроса требуется авторизация basic-auth
    </br>
    Request header: "Authorization: Basic c3RhZmYxOnN0YWZmMXN0YWZmMQ=="
     </br>
    Удаление информации о животном, вернет код 200
     </br>
Вернет код 404, если {animal_id} отсутвует в базе
    </br>
   <div class="form-group"><label class="control-label" for="id_animalid_delete">ID</label><input type="number" min="1" class="form-control" title="" required="" id="id_animalid_delete"></div>

        <label class="control-label" for="username_delete">Username</label>
    <input type="text"  maxlength="64" class="form-control" title="" required="" id="username_delete">
    <label class="control-label" for="password_delete">Password</label>
    <input type="text" maxlength="64" class="form-control" title="" required="" id="password_delete">
    {% buttons %}
        <button type="submit" class="save btn btn-primary" onclick="CallWebAPI('deleteAnimalDelete')">Отправить</button>
    {% endbuttons %}
    <label class="control-label" for="animal_delete">Response</label>
    <textarea id="animal_delete" cols="40" rows="3" class="form-control" title="" required=""></textarea>
</div>

{% endblock content%}
