{% extends "animals/base.html" %}
{% load bootstrap3 %}
{% block content %}
<p>База данных животных для приютов</p>
<form method="POST" class="post-form" action="show/">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="save btn btn-primary">Выбрать</button>
    {% endbuttons %}
</form>
{% if can_add %}
    {% buttons %}
    <button onclick="document.location='/animals/add/'" class="save btn btn-primary">Добавить животное</button>
    {% endbuttons %}
{% endif %}
{% endblock content%}

